h1 {
    font-family: "Arial", sans-serif;
}

h3 {
    font-family: "Helvetica", sans-serif;
    text-align: center;
}

p {
    text-decoration: line-through;
    text-decoration-color: #ba9ee2;
    text-align: center;
}

ul {
    border: 4px;
    border-color: #ba9ee2;
}

h2 {
    text-decoration: underline;
    color: #e29ea4;
    margin: 20px;
    font-family: "Courier New", Courier, monospace;
}

a:hover{
    background-color: #D490A0;
}

.extreme{
    border: 5px;
    border-style: dotted; 
    border-color: #2294BA;
    border-radius: 10px;
    background-color: #ba9ee2;
}

.navzone{
    border-radius: 25px;
    background: #90C3D4;
}

.content{
    border: 2px;
    border-style: double;
    border-color: #A1D490;
    clear: left;
}

.prose{
    font-family: "Courier New", Courier, monospace;
}

#head1{ 
    text-align: center;
}

#tehlulz{
    background-color: #90D4C8;
    cursor: crosshair;
}